{
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "standard"
    ],
    "extends": [
      "standard",
      "plugin:@typescript-eslint/recommended"
    ]
  }
  